**Importing relevant modules**

In [1]:
import pandas as pd
import json
import numpy as np

**1. Inserting data (.json and .csv) into pandas dataframes**

*1.1 For now I'll only work with the data that's needed to achieve the minimum goal*

In [2]:
df_circuits = pd.read_csv('./Datasets/circuits.csv')
df_races = pd.read_csv('./Datasets/races.csv')

In [3]:
df_constructors = pd.read_json('./Datasets/constructors.json', lines=True)
df_drivers = pd.read_json('./Datasets/drivers.json', lines=True)
df_results = pd.read_json('./Datasets/results.json', lines=True)

*1.2 Data that's not needed for the lab at this point but that was in the data folder*

In [4]:
df_lap_times_1 = pd.read_csv('./Datasets/lap_times/lap_times_split_1.csv')
df_lap_times_2 = pd.read_csv('./Datasets/lap_times/lap_times_split_2.csv')
df_lap_times_3 = pd.read_csv('./Datasets/lap_times/lap_times_split_3.csv')
df_lap_times_4 = pd.read_csv('./Datasets/lap_times/lap_times_split_4.csv')
df_lap_times_5 = pd.read_csv('./Datasets/lap_times/lap_times_split_5.csv')

df_qualifying_1 = pd.read_json('./Datasets/Qualifying/qualifying_split_1.json')
df_qualifying_2 = pd.read_json('./Datasets/Qualifying/qualifying_split_2.json')

# df_pit_stops = pd.read_json('./Datasets/pit_stops.json', lines=True) 
# I get issues inserting this json due to how its structured

**2. Cleaning the data**

In [5]:
df_circuits.head(3)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.7380,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.5106,7,http://en.wikipedia.org/wiki/Bahrain_Internati...

In [6]:
df_circuits.loc[43, 'url']

'http://en.wikipedia.org/wiki/Las_Vegas,_Nevada'

In [7]:
df_circuits['url'] = [i.replace(',','') for i in df_circuits['url']]
df_circuits['url'] = [i.replace('"','') for i in df_circuits['url']]

In [8]:
[i.replace('"','') for i in df_circuits['url']] # Possible solution to the issue with being unable to use replace.

['http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
 'http://en.wikipedia.org/wiki/Sepang_International_Circuit',
 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya',
 'http://en.wikipedia.org/wiki/Istanbul_Park',
 'http://en.wikipedia.org/wiki/Circuit_de_Monaco',
 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve',
 'http://en.wikipedia.org/wiki/Circuit_de_Nevers_Magny-Cours',
 'http://en.wikipedia.org/wiki/Silverstone_Circuit',
 'http://en.wikipedia.org/wiki/Hockenheimring',
 'http://en.wikipedia.org/wiki/Hungaroring',
 'http://en.wikipedia.org/wiki/Valencia_Street_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps',
 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza',
 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit',
 'http://en.wikipedia.org/wiki/Fuji_Speedway',
 'http://en.wikipedia.org/wiki/Shanghai_International_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace',
 'http://en.wikipedia.org/wiki/Indianapolis_Motor_Speedway',
 'http://en.wikipedia.org/wiki/N%C3%BCrburgring',
 'http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari',
 'http://en.wikipedia.org/wiki/Suzuka_Circuit',
 'http://en.wikipedia.org/wiki/A1-Ring',
 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Oscar_Alfredo_G%C3%A1lvez',
 'http://en.wikipedia.org/wiki/Circuito_Permanente_de_Jerez',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_do_Estoril',
 'http://en.wikipedia.org/wiki/TI_Circuit',
 'http://en.wikipedia.org/wiki/Adelaide_Street_Circuit',
 'http://en.wikipedia.org/wiki/Kyalami',
 'http://en.wikipedia.org/wiki/Donington_Park',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Hermanos_Rodr%C3%ADguez',
 'http://en.wikipedia.org/wiki/Phoenix_street_circuit',
 'http://en.wikipedia.org/wiki/Paul_Ricard_Circuit',
 'http://en.wikipedia.org/wiki/Korean_International_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Internacional_Nelson_Piquet',
 'http://en.wikipedia.org/wiki/Detroit_street_circuit',
 'http://en.wikipedia.org/wiki/Brands_Hatch',
 'http://en.wikipedia.org/wiki/Circuit_Zandvoort',
 'http://en.wikipedia.org/wiki/Zolder',
 'http://en.wikipedia.org/wiki/Dijon-Prenois',
 'http://en.wikipedia.org/wiki/Fair_Park',
 'http://en.wikipedia.org/wiki/Long_Beach_California',
 'http://en.wikipedia.org/wiki/Las_Vegas_Nevada',
 'http://en.wikipedia.org/wiki/Circuito_Permanente_Del_Jarama',
 'http://en.wikipedia.org/wiki/Watkins_Glen_International',
 'http://en.wikipedia.org/wiki/Scandinavian_Raceway',
 'http://en.wikipedia.org/wiki/Mosport',
 'http://en.wikipedia.org/wiki/Montju%C3%AFc_circuit',
 'http://en.wikipedia.org/wiki/Nivelles-Baulers',
 'http://en.wikipedia.org/wiki/Charade_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_Mont-Tremblant',
 'http://en.wikipedia.org/wiki/Rouen-Les-Essarts',
 'http://en.wikipedia.org/wiki/Circuit_de_la_Sarthe#Bugatti_Circuit',
 'http://en.wikipedia.org/wiki/Reims-Gueux',
 'http://en.wikipedia.org/wiki/Prince_George_Circuit',
 'http://en.wikipedia.org/wiki/Zeltweg_Airfield',
 'http://en.wikipedia.org/wiki/Aintree_Motor_Racing_Circuit',
 'http://en.wikipedia.org/wiki/Circuito_da_Boavista',
 'http://en.wikipedia.org/wiki/Riverside_International_Raceway',
 'http://en.wikipedia.org/wiki/AVUS',
 'http://en.wikipedia.org/wiki/Monsanto_Park_Circuit',
 'http://en.wikipedia.org/wiki/Sebring_Raceway',
 'http://en.wikipedia.org/wiki/Ain-Diab_Circuit',
 'http://en.wikipedia.org/wiki/Pescara_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_Bremgarten',
 'http://en.wikipedia.org/wiki/Pedralbes_Circuit',
 'http://en.wikipedia.org/wiki/Buddh_International_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas',
 'http://en.wikipedia.org/wiki/Red_Bull_Ring',
 'http://en.wikipedia.org/wiki/Sochi_Autodrom',
 'http://en.wikipedia.org/wiki/Port_Imperial_Street_Circuit',
 'http://en.wikipedia.org/wiki/Baku_City_Circuit',
 'http://en.wikipedia.org/wiki/Hanoi_Street_Circuit',
 'http://en.wikipedia.org/wiki/Algarve_International_Circuit',
 'http://en.wikipedia.org/wiki/Mugello_Circuit',
 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit']

In [9]:
'''
for item in df_circuits['url']:
    item.replace(',','')
'''

"\nfor item in df_circuits['url']:\n    item.replace(',','')\n"

In [10]:
df_circuits.loc[43, 'url'] # Weird that it doesn't replace

'http://en.wikipedia.org/wiki/Las_Vegas_Nevada'

In [11]:
df_circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB

In [12]:
# Counting all the missing values in the dataframe
df_circuits.isnull().sum().sum()

0

In [13]:
# Checking for duplicates in column that can be a Primary key when ingesting in SQL
boolean = not df_circuits["circuitId"].is_unique
print(boolean)

False

In [14]:
df_races.head(3)

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...

In [15]:
df_races['url'] = [i.replace(',','') for i in df_races['url']]
df_races['url'] = [i.replace('"','') for i in df_races['url']]

In [16]:
df_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1058 non-null   int64
 1   year       1058 non-null   int64
 2   round      1058 non-null   int64
 3   circuitId  1058 non-null   int64
 4   name       1058 non-null   object
 5   date       1058 non-null   object
 6   time       1058 non-null   object
 7   url        1058 non-null   object
dtypes: int64(4), object(4)
memory usage: 66.2+ KB

In [17]:
# Counting all the missing values in the dataframe
df_races.isnull().sum().sum()

0

In [18]:
# Checking for duplicates in column that can be a Primary key when ingesting in SQL
# If boolean = True it means there are duplicates
boolean = not df_races["raceId"].is_unique
print(boolean)

False

In [19]:
df_constructors.head(3)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [20]:
df_constructors['url'] = [i.replace(',','') for i in df_constructors['url']]
df_constructors['url'] = [i.replace('"','') for i in df_constructors['url']]

In [21]:
df_constructors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB

In [22]:
df_constructors.isnull().sum().sum()

0

In [23]:
boolean = not df_constructors["constructorId"].is_unique
print(boolean)

False

In [24]:
df_drivers.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [25]:
df_drivers['url'] = [i.replace(',','') for i in df_drivers['url']]
df_drivers['url'] = [i.replace('"','') for i in df_drivers['url']]

In [26]:
# Replacing \N that seems to be number column
df_drivers['number'] = df_drivers['number'].replace('\\N','Null')

In [27]:
# Pulling only the full name from the dictionaries inside the column name, leaving only a string with a full name
for i in range(len(df_drivers['name'])):
    df_drivers['name'][i] = df_drivers['name'][i]['forename'] + ' ' + df_drivers['name'][i]['surname']

C:\Users\Cesar\AppData\Local\Temp\ipykernel_4580\3255569328.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drivers['name'][i] = df_drivers['name'][i]['forename'] + ' ' + df_drivers['name'][i]['surname']

In [28]:
df_drivers.head(3)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,Null,HEI,Nick Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg

In [29]:
df_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     853 non-null    int64
 1   driverRef    853 non-null    object
 2   number       853 non-null    object
 3   code         853 non-null    object
 4   name         853 non-null    object
 5   dob          853 non-null    object
 6   nationality  853 non-null    object
 7   url          853 non-null    object
dtypes: int64(1), object(7)
memory usage: 53.4+ KB

In [30]:
df_drivers.isnull().sum().sum()

0

In [31]:
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [32]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24960 entries, 0 to 24959
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         24960 non-null  int64
 1   raceId           24960 non-null  int64
 2   driverId         24960 non-null  int64
 3   constructorId    24960 non-null  int64
 4   number           24960 non-null  object
 5   grid             24960 non-null  int64
 6   position         24960 non-null  object
 7   positionText     24960 non-null  object
 8   positionOrder    24960 non-null  int64
 9   points           24960 non-null  float64
 10  laps             24960 non-null  int64
 11  time             24960 non-null  object
 12  milliseconds     24960 non-null  object
 13  fastestLap       24960 non-null  object
 14  rank             24960 non-null  object
 15  fastestLapTime   24960 non-null  object
 16  fastestLapSpeed  24960 non-null  object
 17  statusId         24960 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.4+ MB

In [33]:
df_results.isnull().sum().sum()

0

**3. Saving all to .csv (If original file with csv extension I'll overwrite it)**

In [34]:
df_circuits.to_csv('./Datasets/circuits.csv')
df_races.to_csv('./Datasets/races.csv')
df_constructors.to_csv('./Datasets/constructors.csv')
df_drivers.to_csv('./Datasets/drivers.csv')
df_results.to_csv('./Datasets/results.csv')