In [1]:
import pandas as pd
import json
import re

In [2]:
df_drivers = pd.read_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\DatasetsCopy\\drivers.csv')

In [3]:
df_drivers.head()

,Unnamed: 0,driverId,driverRef,number,code,name,dob,nationality,url
0,0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [4]:
list = []
for item in df_drivers['name']:
    item = item.replace('forename', '')
    item = item.replace('surname', '')
    item = ''.join(i for i in item if i not in "'")
    item = item.replace(':', '')
    item = item.replace(',', '')
    item = item.replace('{', '')
    item = item.replace('}', '')
    item = re.sub(' +', ' ', item)
    item = item.strip()
    list.append(item)

In [10]:
print(len(list))

853